

.test {
    background-color: #eee;
    padding: 10px;
    border: 3px solid #ccc;
}

.error_message {
    color:red;
}

.nav_button:hover {
    color: black;
    cursor: pointer;
}

.post_cover_img{
    height: 220px;
    width:250px;
}

.title_image{
    width:1200px;
    height:300px;
}

.comment_portrait{
    width:100px;
    height:100px;
    border-radius: 50px;
}

.subcomment_portrait{
    width:70px;
    height:70px;
    border-radius: 50px;
}

.text_wrap{
    word-wrap: break-word;
}

.liked_style{
    color:pink;
}

.liked_style:hover{
    cursor: pointer;
}

.hover_pointer:hover{
    cursor: pointer;
}

.collected_post_img{
    width:105px;
    height: 70px;
    border-radius: 5px;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:290px;
    padding:5px;
    max-height:295px;
    overflow: overlay;
  }
  
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown_content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown_content {display: block;}
  /* .dropdown:hover .dropbtn {} */


